<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.108.0">
    <title>Login</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>


    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
</head>

<body>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6">Allot</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3 sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">
                                <span data-feather="home" class="align-text-bottom"></span>

                            </a>
                        </li>
                        <li>

                        </li>
                        <li>

                        </li>
                    </ul>
                </div>
            </nav>
            <div class="login-form">
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <h1>Inicie sesión porfavor</h1>
                    <form action="/auth" method="POST">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="user" name="user" placeholder="username" required>
                            <label for="floatingInput">Username</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="pass" name="pass" placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div>
                        <button class=" btn btn-lg btn-primary" type="submit" class="btn-login" id="login" value="Login">Iniciar sesión</button>
                        <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
                    </form>
                </main>
            </div>
        </div>

        <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <% if(alert) { %>
            <script>
                Swal.fire({
                    icon: '<%= icon %>',
                    title: '<%= title %>',
                    text: '<%= message %>',
                    showConfirmButton: <%= button %>,
                    timer: <%= timer %>
                    }).then(() => {
                        window.location = '/<%= location %>'
                    })
            </script>
            <% } %>
    </div>

</body>

</html>