<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.108.0">
    <title>Inicio</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>


    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
</head>

<body>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">



        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6">Allot</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" id="logout" href="/logout">Sign out</a>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3 sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">
                                <span data-feather="home" class="align-text-bottom"></span>
                                <i class="fi fi-rr-home"></i>
                                Inicio
                            </a>
                        </li>
                        <li>
                            <% if (user.rol=="admin" ) { %>
                                <a class="nav-link  active" href="/users">
                                    <span data-feather="file" class="align-text-bottom"></span>

                                    <i class="fi fi-rr-user"></i>
                                    Panel de administrador
                                </a>
                                <% } %>
                        </li>
                        <li>
                            <% if (user.rol=="admin" ) { %>
                                <a class="nav-link" href="/report">
                                    <span data-feather="file" class="align-text-bottom"></span>

                                    <i class="fi fi-rr-briefcase"></i>
                                    Reportes ancho de banda
                                </a>
                                <% } %>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="login-form">
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <h1>Registro de usuario</h1>
                    <form action="/register" method="POST">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="user" name="user" placeholder="username" required>
                            <label for="floatingInput">Username</label>
                        </div>
                        <div class="form-floating">
                            <input type="text" class="form-control" id="name" name="name" placeholder="name" required>
                            <label for="floatingInput">Name</label>
                        </div>
                        <div class="form-floating">
                            <select name="rol" id="rol" class="form-control" >
                                <option value="admin">Administrador</option>
                                <option value="user">Usuario</option>
                            </select>
                            <label for="rol">Rol</label>
                        </div>
                        <div class="form-floating">
                            <input type="number" class="form-control" id="contractId" name="contractId" placeholder="contract Id">
                            <label for="floatingInput">Contract Id</label>
                        </div>
                        <div class="form-floating">
                            <input type="text" class="form-control" id="company" name="company" placeholder="Company">
                            <label for="floatingInput">Company</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="pass" name="pass" placeholder="Password" required>
                            <label for="floatingPassword">Password</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="repeatPass" name="repeatPass" placeholder="Repetir contraseña" required>
                            <label for="floatingPassword">Repeat Password</label>
                        </div>

                        <button class=" btn btn-lg btn-primary" type="submit" class="btn-register" id="register" value="Register">Registrar</button>
                        <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
                    </form>
                </main>
            </div>
        </div>

        <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <% if(alert) { %>
            <script>
                Swal.fire({
                    icon: '<%= icon %>',
                    title: '<%= title %>',
                    text: '<%= message %>',
                    showConfirmButton: <%= button %>,
                    timer: <%= timer %>
                    }).then(() => {
                        window.location = '/<%= location %>'
                    })
            </script>
            <% } %>
    </div>

</body>

</html>